<p-toast />
<p-dialog header="Novo cliente" [modal]="true" [(visible)]="this.visibilidadeNovoCliente" [maximizable]="true"
    (onHide)="fecharModal()" [styleClass]="'responsive-dialog'">

    <form [formGroup]="formNovoCliente" (ngSubmit)="salvarCliente()">
        <div style="display: flex; flex-direction: column; gap: 1rem">

            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <input pInputText type="text" formControlName="nome" placeholder="Nome" />
            </p-inputGroup>

            <p-inputGroup>
                <p-inputGroupAddon> &#64; </p-inputGroupAddon>
                <input type="email" formControlName="email" pInputText placeholder="E-mail" />
            </p-inputGroup>

            <div style="display: flex; gap: 1rem;">
                <p-inputGroup>
                    <p-inputGroupAddon> 123</p-inputGroupAddon>
                    <p-inputMask inputmode="numeric" formControlName="cpf" mask="999.999.999-99" placeholder="CPF"
                        [style]="{ width: '100%' }" />
                </p-inputGroup>
    
    
                <p-inputGroup>
                    <p-inputGroupAddon> <i class="pi pi-phone"></i></p-inputGroupAddon>
                    <p-inputMask inputmode="numeric" formControlName="telefone" mask="(99) 9 9999-9999"
                        placeholder="Telefone" [style]="{'width': '100%'}" />
                </p-inputGroup>
            </div>

        </div>

        <div style="margin-top: 5rem; display: flex; justify-content: end; gap: 2rem">
            <p-button label="Cancelar" severity="secondary" (onClick)="fecharModal()" />
            <p-button label="Salvar" type="submit" />
        </div>
    </form>
</p-dialog>