<header>
    <p-button icon="pi pi-arrow-left" (onClick)="voltar()" />
    <h1>Usuários</h1>
    <div class="buttons-text">
        <p-button label="Cadastrar cliente" (onClick)="cadastrarCliente()" size="small" />
    </div>
</header>

<div class="container">
    @if (usuarios.length > 0) {
    <p-table class="tabela" #dt2 [value]="usuarios" dataKey="id" scrollHeight="650px" [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
        [globalFilterFields]="['usuario.nome', 'usuario.createdAt', 'usuario.email', 'usuario.funcao', 'usuario.nasc', 'usuario.cpf', 'usuario.ocupacaoProfissional', 'usuario.preCadastro', 'usuario.telefone'  ]"
        [tableStyle]="{ 'min-width': '75rem' }">
        <ng-template pTemplate="caption">
            <div style="display: flex; justify-content: end;">
                <p-iconField iconPosition="right" style="margin-left: auto; ">
                    <p-inputIcon>
                        <i class="pi pi-search" style="color: var(--primary-color);"></i>
                    </p-inputIcon>
                    <input pInputText type="text" class="input" (input)="filterTable($event)"
                        placeholder="Buscar usuário" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>

                <th>Nome</th>
                <th>Criado em</th>
                <th>E-mail</th>
                <th>Função</th>
                <th>Nascimento</th>
                <th>CPF</th>
                <th>Ocupação profissional</th>
                <th>Tipo de cadastro</th>
                <th>Telefone</th>

                <th style="text-align: end">Opções</th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-usuarioRep>
            <tr>
                <td class="no-wrap">
                    <p-button [label]="usuarioRep.usuario.nome" [outlined]="true"
                        [style]="{fontSize: '14px', padding: '6px'}" pTooltip="Clique para detalhes do cliente"
                        [rounded]="true" (onClick)="verUsuario(usuarioRep.usuario.objectId)" />
                </td>
                <td class="no-wrap">
                    {{
                    usuarioRep.usuario.createdAt | date : "dd/MM/yyyy - HH:mm"
                    }}
                </td>
                <td>{{ usuarioRep.usuario.email }}</td>

                <td (click)="alterarFuncao(usuarioRep )">
                    <p-tag [value]="getStatusFuncaoPorExtenso(usuarioRep.usuario.funcao)"
                        pTooltip="Clique para alterar a função"
                        [severity]="getStatusFuncaoSeverity(usuarioRep.usuario.funcao)" />
                </td>


                <td>{{ usuarioRep?.usuario?.nasc ?? '-' }}</td>
                <td class="no-wrap">{{ usuarioRep?.usuario?.cpf ?? '-' }}</td>
                <td>{{ usuarioRep?.usuario?.ocupacaoProfissional ?? '-' }}</td>
                <td>{{ usuarioRep.usuario.preCadastro ? 'Cadastrado parcialmente': 'Cadastro completo' }}</td>
                <td class="no-wrap">{{ usuarioRep?.usuario?.telefone ?? '-' }}</td>


                <td style="text-align: end">
                    <button type="button" pButton pRipple [outlined]="true" severity="warning" icon="pi pi-ellipsis-v"
                        (click)="showDialogOpcoes(usuarioRep)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10">Nenhum usuário encontrado</td>
            </tr>
        </ng-template>
    </p-table>
    }@else {
    <div
        style="width: 100%; height: 100dvh; display: flex; justify-content: center; align-items: center; text-align: center;">
        <h1 style="color: var(--primary-color); font-size: 1.5rem;">Sem usuários</h1>
    </div>
    }
</div>




<app-card-novo-usuario [visibilidadeNovoCliente]="visibilidadeNovoCliente" (emitirVisibilidade)="fecharModal($event)" />