header {
    background-color: white;
    border-bottom: 1px solid var(--primary-color);

    width: 100%;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

header h1 {
    font-size: 1rem;
    font-family: "Helvetica";
    color: var(--primary-color);
}

.container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
}


